@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=National+Park:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
    --color-expense: #9E77ED;
    --color-expense-light: #9b87f5;
    --color-expense-dark: #6e59a5;
}

* {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

@layer utilities {
    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-6px);
        }
    }

    @keyframes float-reverse {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(6px);
        }
    }

    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    .animate-float-reverse {
        animation: float-reverse 3s ease-in-out infinite;
    }
}

.bg-horizontal-lines {
    background-image: repeating-linear-gradient(to right,
            #0000000A 0px,
            #0000000A 1px,
            transparent 1px,
            transparent 60px);
}